.sidebar-black .mousey {
  border-color: black;
}

.sidebar-white .mousey {
  border-color: white;
}

.sidebar a {
  transition: 0.35s;
}

.sidebar a:hover {
  color: var(--benditaPurple);
}

.sidebar .contact {
  transition: 1s !important;
}
