.sidebar {
  z-index: 3;
}

.sidebar-black .mousey {
  border-color: black;
}

.sidebar-white .mousey {
  border-color: white;
}

.sidebar a {
  transition: 0.35s;
}

.sidebar a:hover {
  color: var(--benditaPurple);
}

.sidebar .contact {
  position: rolative;
  transform: translate(50%, 50%);
  transform: rotate(270deg);
}
