.classic-button {
  background: white;
  color: var(--benditaPurple) !important;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classic-button.variant-top-left {
  border-top-left-radius: 0px;
}
.classic-button.variant-bottom-left {
  border-bottom-left-radius: 0px;
}
