.complex-website.how-it-works {
  background-color: var(--benditaPurple) !important;
  color: white !important;
}

.complex-website.why-choose-us {
  background-color: black !important;
  color: white !important;
}
