.carousel-wrapper .slick-slide {
  height: 500px;
}

.box {
  position: relative;
  height: 500px !important;
  overflow: hidden;
  display: inline-block;
}

.box img {
  transition: 1s ease;
  display: inline-block;
  height: 500px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.box .info {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.box:hover .info {
  background-color: rgba(0, 0, 0, 0.6);
}

.box:hover img {
  transform: scale(1.08);
}

.box:hover .info .title,
.box:hover .info .description {
  opacity: 1;
}

.box .info .title,
.box .info .description {
  color: white;
  opacity: 0;
  transition: 0.25s ease;
}

.slick-prev {
  left: 4% !important;
  z-index: 1;
}
.slick-next {
  right: 4% !important;
  z-index: 1;
}

.slick-next:before,
.slick-prev:before {
  font-size: 35px;
  color: white;
}
